# 2. Choosing the right estimator or algorithm for our problems

Scikit-Learn use estimator as another term for ML model or algorithm

1. Classification - predict whether a sample is one thing or another
1. Regression - predict a number

### 2.1 Picking a machine learning model for a regession problem

In [1]:
import pandas as pd
import numpy as np

In [2]:
# Import Boston housing dataset
from sklearn.datasets import load_boston
boston = load_boston()

In [3]:
print(boston["DESCR"])

.. _boston_dataset:

Boston house prices dataset
---------------------------

**Data Set Characteristics:**

    :Number of Instances: 506

    :Number of Attributes: 13 numeric/categorical predictive. Median Value (attribute 14) is usually the target.

    :Attribute Information (in order):
        - CRIM     per capita crime rate by town
        - ZN       proportion of residential land zoned for lots over 25,000 sq.ft.
        - INDUS    proportion of non-retail business acres per town
        - CHAS     Charles River dummy variable (= 1 if tract bounds river; 0 otherwise)
        - NOX      nitric oxides concentration (parts per 10 million)
        - RM       average number of rooms per dwelling
        - AGE      proportion of owner-occupied units built prior to 1940
        - DIS      weighted distances to five Boston employment centres
        - RAD      index of accessibility to radial highways
        - TAX      full-value property-tax rate per $10,000
        - PTRATIO  pupil-teacher ratio by town
        - B        1000(Bk - 0.63)^2 where Bk is the proportion of blacks by town
        - LSTAT    % lower status of the population
        - MEDV     Median value of owner-occupied homes in $1000's

    :Missing Attribute Values: None

    :Creator: Harrison, D. and Rubinfeld, D.L.

This is a copy of UCI ML housing dataset.
https://archive.ics.uci.edu/ml/machine-learning-databases/housing/


This dataset was taken from the StatLib library which is maintained at Carnegie Mellon University.

The Boston house-price data of Harrison, D. and Rubinfeld, D.L. 'Hedonic
prices and the demand for clean air', J. Environ. Economics & Management,
vol.5, 81-102, 1978.   Used in Belsley, Kuh & Welsch, 'Regression diagnostics
...', Wiley, 1980.   N.B. Various transformations are used in the table on
pages 244-261 of the latter.

The Boston house-price data has been used in many machine learning papers that address regression
problems.

.. topic:: References

   - Belsley, Kuh & Welsch, 'Regression diagnostics: Identifying Influential Data and Sources of Collinearity', Wiley, 1980. 244-261.
   - Quinlan,R. (1993). Combining Instance-Based and Model-Based Learning. In Proceedings on the Tenth International Conference of Machine Learning, 236-243, University of Massachusetts, Amherst. Morgan Kaufmann.

In [4]:
boston_df = pd.DataFrame(boston['data'], columns=boston['feature_names'])
boston_df["target"] = pd.Series(boston['target'])
boston_df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,target
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [5]:
# How many samples
len(boston_df)

506

In [6]:
# Let's try the ridge Regression model
from sklearn.linear_model import Ridge
from sklearn.model_selection import train_test_split

# Setup random seed
np.random.seed(42)
x = boston_df.drop('target', axis=1)
y = boston_df['target']

# Split into train and test sets
X_train, X_test, Y_train, Y_test = train_test_split(x, y, test_size=.2)

# Instatiate Ridge model
model = Ridge()
model.fit(X_train, Y_train)

model.score(X_test, Y_test)

0.6662221670168519

How can import this score
if Ridge model won't work?

In [7]:
# let's try random forest
from sklearn.ensemble import RandomForestRegressor

np.random.seed(42)

# Create the data
np.random.seed(42)
x = boston_df.drop('target', axis=1)
y = boston_df['target']

# Split into train and test sets
X_train, X_test, Y_train, Y_test = train_test_split(x, y, test_size=.2)

# instantiate Random Forest Regessor
rf = RandomForestRegressor()
rf.fit(X_train, Y_train)
rf.score(X_test, Y_test)

0.8654448653350507

### 2.2 Choosing an estimate for classifiction problem

In [8]:
heart_disease = pd.read_csv("./csv/heart-disease.csv")
heart_disease.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [9]:
len(heart_disease)

303

In [13]:
# Import the LinearSVC 
from sklearn.svm import LinearSVC

np.random.seed(42)
x = heart_disease.drop('target', axis=1)
y = heart_disease['target']

X_train, X_test, Y_train, Y_test = train_test_split(x, y, test_size=.2)

clf = LinearSVC(max_iter=10)
clf.fit(X_train, Y_train)

clf.score(X_test, Y_test)

/Users/macbook/opt/anaconda3/lib/python3.8/site-packages/sklearn/svm/_base.py:985: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn("Liblinear failed to converge, increase "

0.5409836065573771

In [14]:
y.value_counts()

1    165
0    138
Name: target, dtype: int64

In [15]:
from sklearn.ensemble import RandomForestClassifier

np.random.seed(42)
x = heart_disease.drop('target', axis=1)
y = heart_disease['target']

X_train, X_test, Y_train, Y_test = train_test_split(x, y, test_size=.2)

clf = RandomForestClassifier()
clf.fit(X_train, Y_train)
clf.score(X_test, Y_test)

0.8524590163934426